.roadmap {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 0;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    margin-bottom: 200px;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
  }

  &_grid {
    display: grid;
    grid-template-areas:
      "quarter_1   line   dot_1   goals_1"
      "quarter_2   line   dot_2   goals_2"
      "quarter_3   line   dot_3   goals_3";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 270px 3px 0px 1fr;

    @media (max-width: 768px) {
      grid-template-areas:
        "line   dot_1   quarter_1"
        "line   dot_1   goals_1"
        "line   dot_2   quarter_2"
        "line   dot_2   goals_2"
        "line   dot_3   quarter_3"
        "line   dot_3   goals_3";
      grid-template-rows: 50px 1fr 50px 1fr 50px 1fr;
      grid-template-columns: 3px 0px 1fr;
    }

    .quarter {
      font-size: 40px;
      line-height: 70px;
      font-weight: 700;
      white-space: nowrap;
      margin-right: 30px;
      transform: translate(-20%, 0);
      opacity: 0;

      @media (max-width: 768px) {
        font-size: 30px;
        margin-left: 20px;
        transform: translate(20%, 0);
      }

      &.active {
        background: linear-gradient(270deg, var(--purple) 35%, var(--blue) 70%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_1 {
        grid-area: quarter_1;
      }

      &_2 {
        grid-area: quarter_2;
      }

      &_3 {
        grid-area: quarter_3;
      }
    }

    .line {
      grid-area: line;
      width: 3px;
      height: 0;
      background: linear-gradient(180deg, var(--purple) 0%, var(--blue) 100%);
      margin-top: 20px;
      transition: height 0.5s ease;
      border-radius: 2px;

      @media (max-width: 768px) {
        margin-top: 32px;
      }

      &_1 {
        height: calc(25% - 20px);

        @media (max-width: 768px) {
          height: calc(30% - 32px);
        }
      }

      &_2 {
        height: calc(55% - 20px);

        @media (max-width: 768px) {
          height: calc(60% - 32px);
        }
      }

      &_3 {
        height: calc(100% - 20px);
        border-radius: 0;

        @media (max-width: 768px) {
          height: calc(100% - 32px);
        }
      }
    }

    .dot {
      width: 11px;
      height: 11px;
      background: #d9d9d9;
      border-radius: 50%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
      position: relative;
      top: 20px;
      right: 7px;
      opacity: 0;

      @media (max-width: 768px) {
        top: 30px;
      }

      &_1 {
        grid-area: dot_1;
      }

      &_2 {
        grid-area: dot_2;
      }

      &_3 {
        grid-area: dot_3;
      }
    }

    .goals {
      margin: 8px 0 100px 20px;
      list-style: none; /* Remove default bullets */
      font-size: 24px;
      line-height: 30px;
      transform: translate(20%, 0);

      @media (max-width: 768px) {
        margin: 8px 0 60px;
        font-size: 18px;
        line-height: 22px;
      }

      li::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: var(--blue); /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }

      &_1 {
        grid-area: goals_1;
      }

      &_2 {
        grid-area: goals_2;
      }

      &_3 {
        grid-area: goals_3;
      }
    }
  }

  .bg2 p {
    top: -50px;
    right: 15vw;
  }
}

.blob9 {
  position: absolute;
  top: 200px;
  left: -300px;
  transform: translate(-20%, 0) !important;

  img {
    transform: rotate(180deg);
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.blob9_2 {
  position: absolute;
  bottom: 0px;
  right: -300px;
  transform: translate(20%, 0);

  @media (max-width: 768px) {
    bottom: unset;
    top: -200px;
    right: -120px;
    width: 300px;
  }
}
