header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5vw;
  height: 110px;
  background: linear-gradient(var(--bg) 70%, transparent);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;

    a {
      color: var(--text);
      text-decoration: none;
      font-size: 14px;
      line-height: 16px;
      transition: color 0.3s ease;

      &:hover {
        color: #bbb;
      }
    }
  }

  .contact_us_button {
    width: 190px;
    height: 42px;
  }
}
