.intro {
  padding-right: 110px;
  padding-left: 110px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: 80px;
    line-height: 90px;
    max-width: 950px;
  }
}
