.services {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 15vw;

  @media (max-width: 768px) {
    padding-left: 20px;
  }

  &_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
    margin-bottom: 76px;
    transform: translate(0, 20%);

    button {
      width: 60px;
      height: 60px;
      border-radius: 50%;

      &.active {
        background: var(--text);
        transition: background-color 0.3s ease;

        &:hover {
          background: var(--hover);
        }
      }

      &.disabled {
        background: transparent;
        border: 1px solid #333;
        cursor: not-allowed;

        path {
          stroke: var(--text);
        }
      }

      &#slider_button_left {
        transform: rotate(180deg);
        margin-right: 30px;
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: max-content;
}

.slide {
  width: 440px;
  max-width: calc(100vw - 40px);
  margin-right: 110px;
  transform: translate(0, 20%);

  &_image_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  &_title {
    margin-bottom: 40px;
  }

  &_text {
    margin-bottom: 24px;
  }
}

#slide2 {
  transition-delay: 0.2s;
}

#slide3 {
  transition-delay: 0.4s;
}
