.projects {
  padding-left: 15vw;
  padding-right: 10vw;

  h2 {
    margin-bottom: 64px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    gap: 5vw;

    picture {
      display: flex;
      align-items: flex-start;
      flex-direction: row;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }

    > * {
      width: 50%;

      img {
        width: 100%;
        max-width: 340px;
      }
    }

    .content {
      .fw700 {
        margin-bottom: 40px;
      }

      p {
        margin-bottom: 24px;
      }

      .coming_soon {
        color: #8b4af9;
      }
    }
  }
}
