.team {
  padding-left: 15vw;
  padding-right: 5vw;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 74px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    h2 {
      flex: 1;
      min-width: max-content;
      margin-right: 30px;
      transform: translate(-20%, 0);

      @media (max-width: 768px) {
        margin-left: 0;
        margin-bottom: 30px;
        transform: translate(0, 20%);

        br {
          display: none;
        }
      }
    }

    p {
      border-left: 1px solid var(--text);
      padding-left: 15px;
      max-width: 646px;
      transform: translate(20%, 0);

      @media (max-width: 768px) {
        border-left: none;
        border-top: 1px solid var(--text);
        padding-top: 30px;
        padding-left: 0;
        transform: translate(0, 20%);
      }
    }
  }

  > p {
    width: 100%;
    text-align: center;
  }
}

.team_members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  margin-bottom: 80px;

  @media (max-width: 768px) {
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 36px;
  }
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translate(0, 20%);

  .avatar {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--purple) -5%, var(--blue) 71%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
      margin-bottom: 12px;
    }

    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, var(--purple) 0%, var(--blue) 100%);
      // background: linear-gradient(180deg, #8B4AF9 0%, #0AEDFD 100%);
      border: 8px solid var(--bg);
      border-radius: 50%;

      picture {
        position: absolute;
        width: 100%;
        bottom: 0;

        img {
          position: absolute;
          width: 100%;
          bottom: 0;
        }
      }
    }
  }

  .name {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  .role {
    font-size: 20px;
    line-height: 30px;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.blob7 {
  position: absolute;
  top: 500px;
  left: -200px;
  transform: translate(-20%, 0);

  @media (max-width: 768px) {
    width: 250px;
    top: -165px;
    left: -130px;
  }
}
