:root {
  --bg: #121212;
  --text: #eee;
  --hover: #bbb;
  --purple: #8b4af9;
  --blue: #00eeff;
  --deepblue: #4a69c9;
  --pink: #df678a;
}

.web {
  background: linear-gradient(
    90deg,
    var(--pink) 0%,
    var(--purple) 33%,
    var(--pink) 67%,
    var(--purple) 100%
  );
}

.game {
  background: linear-gradient(
    90deg,
    var(--purple) 0%,
    var(--deepblue) 33%,
    var(--purple) 67%,
    var(--deepblue) 100%
  );
}

.studio {
  background: linear-gradient(
    90deg,
    #23c6fe 0%,
    #01efff 33%,
    #23c6fe 67%,
    #01efff 100%
  );
}

.accent {
  background: linear-gradient(
    90deg,
    var(--purple) 0%,
    var(--blue) 33%,
    var(--purple) 67%,
    var(--blue) 100%
  );
}

.gradientText {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientAnimation 2s linear infinite;
}

// keyframes for infinite gradient animation
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
