:root {
  --bg: #121212;
  --text: #fff;
  --shadowText: #f5f5f5;
}

// // studio
// background: linear-gradient(90.34deg, #23c6fe -4.56%, #01efff 71.06%);

// // game
// background: linear-gradient(90.34deg, #6646c8 -4.56%, #4a69c9 71.06%);

// // web
// background: linear-gradient(90.04deg, #df678a -4.77%, #8b4af9 104.65%);

// background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
//   linear-gradient(90.34deg, #8b4af9 -4.56%, #00eeff 71.06%);
// background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
//   linear-gradient(90.34deg, #8b4af9 -4.56%, #00eeff 71.06%);
// color: #8b4af9;
// // Q3-Q4
// background: linear-gradient(270.04deg, #aa78ff 35.41%, #0aedfd 69.43%);
